@import 'tailwindcss';

@font-face {
  font-family: 'FontinRegular';
  src: url('/fonts/Fontin-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  margin: 0;
  padding: 0;
}

:root {
  line-height: 1.5;
  font-weight: 400;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  color-scheme: light dark;
  color: #dfcf99;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: url(/mirror3.jpg);
  background-color: #000000;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
}

@media (max-width: 768px) {
  :root {
    background-size: contain;
  }
}

.app-main {
  justify-content: center;
}

.bg-main-opaque {
  min-height: 100vh;
  height: auto;
  background-color: #0000009f;
}

.bg-main-vertical {
  background-color: #000000c3;
}

.title-item {
  font-family: 'FontinRegular', Verdana, Arial, Helvetica, sans-serif;
}

.gold-text1 {
  color: #dfcf99;
}

.gold-text2 {
  color: #a38d6d;
}

.bg-unique-color {
  background-image: radial-gradient(circle, hsl(0, 6%, 25%), hsl(0, 5%, 17%));
  border: 2px solid hsl(0, 19%, 14%);
}

.bg-rare-color {
  background-image: radial-gradient(
    circle,
    hsl(90, 9%, 22%),
    hsl(87, 19%, 18%)
  );
  border: 2px solid hsl(77, 30%, 12%);
}

.bg-magic-color {
  background-image: radial-gradient(
    circle,
    hsl(226, 27%, 21%),
    hsl(219, 14%, 20%)
  );
  border: 2px solid hsl(224, 30%, 15%);
}

.bg-normal-color {
  background-image: radial-gradient(
    circle,
    hsl(218, 17%, 28%),
    hsl(216, 10%, 20%)
  );
  border: 2px solid hsl(222, 10%, 20%);
}

.custom-divider {
  position: relative;
  height: 3px;
  background-color: yellow;
  width: 100%;
}

.custom-divider::before,
.custom-divider::after {
  content: '';
  position: absolute;
  top: 50%;
  width: 10px; /* Adjust for longer/shorter points */
  height: 10px;
  background-color: yellow;
  clip-path: polygon(100% 0, 0 50%, 100% 100%);
  transform: translateY(-50%);
}

.custom-divider::before {
  left: -5px;
}

.custom-divider::after {
  right: -5px;
  transform: scaleX(-1) translateY(-50%);
}
