@import 'tailwindcss';

@font-face {
  font-family: 'FontinRegular';
  src: url('/fonts/Fontin-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  line-height: 1.5;
  font-weight: 400;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  color-scheme: light dark;
  background-color: #121212;
  color: #dfcf99;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.app-main {
  justify-content: center;
}

.title-item {
  font-family: 'FontinRegular', Verdana, Arial, Helvetica, sans-serif;
}

.gold-text1 {
  color: #dfcf99;
}

.gold-text2 {
  color: #a38d6d;
}

.bg-unique-color {
  background-image: radial-gradient(circle, hsl(0, 6%, 25%), hsl(0, 5%, 17%));
  border: 2px solid hsl(0, 19%, 14%);
}

.bg-rare-color {
  background-image: radial-gradient(
    circle,
    hsl(90, 9%, 22%),
    hsl(87, 19%, 18%)
  );
  border: 2px solid hsl(77, 30%, 12%);
}

.bg-magic-color {
  background-image: radial-gradient(
    circle,
    hsl(226, 27%, 21%),
    hsl(219, 14%, 20%)
  );
  border: 2px solid hsl(224, 30%, 15%);
}

.bg-normal-color {
  background-image: radial-gradient(
    circle,
    hsl(218, 17%, 28%),
    hsl(216, 10%, 20%)
  );
  border: 2px solid hsl(222, 10%, 20%);
}
